/* Testimonials section styles */
.wooks-testimonials {
  position: relative;
  padding: 80px 0;

  @include media-breakpoint-down(tb) {
    padding: 0 0 40px;
    background: none;
  }

  &__items {
    position: relative;
    padding-top: 64px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

    @include media-breakpoint-down(tb) {
      padding-top: 32px;
      width: 82%;
    }

    @include media-breakpoint-down(mb) {
      width: 100%;
    }
  }

  &__slider-item {
    position: relative;
    width: 100% !important;
    height: 520px !important;
    border-radius: 4px;
    cursor: pointer;

    @include media-breakpoint-down(tb) {
      width: 252px !important;
      height: 142px !important;
    }

    &::before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(21, 20, 17, 0.48) -16.6%, rgba(0, 0, 0, 0) 146.54%);
      filter: drop-shadow(0px 7px 24px rgba(20, 20, 20, 0.16));
      border-radius: 4px;
      pointer-events: none;
      z-index: 0;
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      top: 50%;
      left: 50%;
      width: 46px;
      height: 46px;
      background-image: url('assets/images/play-icon.svg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
      z-index: 0;
    }
  }

  &__heading {

    @include media-breakpoint-down(tb) {
      margin-top: 8px !important;
    }
  }

  &__slider-image-wrp {
    overflow: hidden;
    border-radius: 4px;

    @include media-breakpoint-down(tb) {
      height: 100%;
      width: auto;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: 0;
      width: 0;
    }
  }

  /* Slick styles */
  .slick-track {
    display: flex;
    grid-gap: 0;
  }

  .tm-slick-prev {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 0;
    background-image: url('assets/images/hiw-carousel-arrow.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    bottom: -5px;
    right: 245px;
    transform: rotate(180deg);
    z-index: 9;

    @include media-breakpoint-down(tb) {
      right: 18.6%;
    }
  }

  .tm-slick-next {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 0;
    background-image: url('assets/images/hiw-carousel-arrow.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    bottom: -5px;
    left: 245px;
    z-index: 9;

    @include media-breakpoint-down(tb) {
      left: 18.6%;
    }
  }

  .slick-slider {
    width: 920px;
    height: 100%;
    margin: 0 auto;

    @include media-breakpoint-down(tb) {
      height: 100%;
      width: auto;
    }
  }

  .slick-slide {
    height: 100% !important;
    width: auto !important;
    min-width: 920px;

    @include media-breakpoint-down(tb) {
      width: 100% !important;
      height: auto !important;
      min-height: 193px;
      min-width: 343px;
    }

    img {
      display: block;
      height: 520px;
      width: 100%;
      object-fit: cover;
      border-radius: 4px;
      transition: 500ms ease-in-out;

      @include media-breakpoint-down(tb) {
        min-height: 193px;
        height: auto;
      }

      &:hover {
        scale: 1.1;
      }
    }
  }

  .slick-dots {
    position: relative;
    padding-top: 60px;
    max-width: 350px;
    margin: 0 auto;

    @include media-breakpoint-down(tb) {
      padding-top: 36px;
      max-width: 65.4%;
    }

    li {
      position: relative;
      height: 15px;
      width: 15px;
      margin: 0 10px;

      @include media-breakpoint-down(tb) {
        height: 8px;
        width: 8px;
        margin: 0 6px;
      }

      button {
        position: relative;
        background-color: var(--color-gray-two);
        border: none;
        border-radius: 15px;
      }

      &.slick-active {

        button {
          background-color: var(--color-brand-blue);
        }
      }
    }
  }
}