/* Our kids section styles */
.wooks-our-kids {
  position: relative;

  &__items {
    padding-top: 64px;

    @include media-breakpoint-down(mb) {
      padding-top: 32px;
    }
  }

  &__image-wrapper {
    margin: 0 auto;
    max-width: 1178px;
    width: auto;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}